<div class="row">
  <app-chart [chartOption]="options1" class="col-12 col-md-6 col-xl-4"></app-chart>
  <app-chart [chartOption]="options2" class="col-12 col-md-6 col-xl-4"></app-chart>
  <app-chart [chartOption]="options3" class="col-12 col-md-6 col-xl-4"></app-chart>
  <app-chart [chartOption]="options4" class="col-12 col-md-6 col-xl-4"></app-chart>
  <app-chart [chartOption]="options5" class="col-12 col-md-6 col-xl-4"></app-chart>
  <app-chart [chartOption]="options6" class="col-12 col-md-6 col-xl-4"></app-chart>
</div>
